@import "normalize";
@import "vars";
@import "fonts";

html {
	@extend .nunito-sans; 
	height: 100vh;
}
body,#root,.app, .app>div{
	height: 100%;
}
body,
html {
	background-color: $background-color;
}